
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

.content {
    max-width: 1280px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);
}

header img {
    margin: 15px;
    border-radius: 15%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0px 15px;
}

nav a {
    text-decoration: none;
    color: rgb(201, 193, 193);
}

nav a:hover {
    color: white;
}

h1 {
    text-align: center;
    color: rgb(35, 131, 209);
    padding-top: 15px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    place-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);
    margin-top: 15px;
}

footer h3 {
    color: rgb(201, 193, 193);
    font-size: 16px;
    padding-left: 15px;
}

footer img {
    border-radius: 100%;
    margin: 10px 10px 5px 0;
}

section {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.texto_sub {
    text-decoration: underline;
    text-align: center;
}

section div {
    padding: 15px;
    text-align: justify;
}

section ul {
    padding-left: 20px;
}

.link_diferente {
    text-decoration: none;
}

.centrado {
    display: grid;
    place-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.sobre_mi li  {
    text-align: center;
    list-style: none;
    margin-top: 25px;
}

.contacto img {
    margin: auto;
    border-radius: 100%;
}

.turnos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center
    ;
}

.turnos div {
    display: flex;
    align-items: center;
}

.turnos a {
    text-decoration: none;
    color: black;
}

.turnos a:hover {
    color:rgb(35, 131, 209)
}

.comentarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center
    ;
}

.comentarios form {
    display: flex;
    flex-direction: column;
}

.boton2 {
    text-decoration: none;
    background-color: rgb(35, 131, 209);
    color: rgb(201, 193, 193);
    padding: 10px 25px;
    margin-top: 5px;
}

.boton2:hover {
    background-color: rgb(201, 193, 193);
    color: rgb(35, 131, 209);
}

/* movile */

@media (max-width: 576px) {
    .content {
      display: flex;
      flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .galeria {
        display: flex;
    }

    .boton {
        left:30%
    }

    section div h3{
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    iframe {
        height: 100%;
        width: 100%;
    }

    .contacto .turnos{
        display: flex;
        flex-direction: column;
    }

    .contacto .comentarios{
        display: flex;
        flex-direction: column;
    } 
}