* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px; }
  body h1 {
    text-align: center;
    color: #2383d1;
    padding-top: 15px; }
  body .texto_sub {
    text-decoration: underline;
    text-align: center; }
  body .texto_sub_2 {
    text-decoration: underline;
    text-align: center;
    margin-top: 25px; }
  body p {
    text-align: center; }

html, body {
  height: 100%;
  width: 100%; }

.content {
  max-width: 1600px;
  margin: auto; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2383d1; }
  header img {
    margin: 15px;
    border-radius: 15%; }
  header nav ul {
    display: flex;
    list-style: none; }
    header nav ul li {
      padding: 0px 15px;
      transition: .5s; }
      header nav ul li:hover {
        transform: rotate(15deg); }
    header nav ul a {
      text-decoration: none;
      color: #c9c1c1; }
      header nav ul a:hover {
        color: white; }

.section_1 {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  justify-content: center;
  align-items: center; }
  .section_1 div {
    flex: 1 1 700px;
    justify-content: center;
    align-items: center; }
  .section_1 .lista_beneficios {
    margin-left: 25px; }
  .section_1 p, .section_1 h3 {
    text-align: center; }
  .section_1 img {
    border-radius: 100%;
    justify-content: center; }
  .section_1 form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 30%; }
    .section_1 form textarea {
      margin-top: 15px;
      padding: 10px;
      font-family: 'Oswald', sans-serif; }
    .section_1 form input {
      padding: 10px; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2383d1;
  margin-top: 15px;
  padding: 15px 0; }
  footer h3 {
    color: #c9c1c1;
    font-size: 16px;
    padding-left: 15px; }
  footer img {
    border-radius: 100%;
    margin: 10px 10px 5px 0; }
  footer a {
    text-decoration: none;
    color: #c9c1c1; }
    footer a:hover {
      color: white; }

.galeria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px; }

.aumento {
  transform: scale 1;
  transition: transform .5s; }
  .aumento:hover {
    transform: scale(1.2); }

.boton_2 {
  text-decoration: none;
  background-color: #2383d1;
  color: #c9c1c1;
  padding: 10px 25px;
  margin-top: 5px; }
  .boton_2:hover {
    background-color: #c9c1c1;
    color: #2383d1; }

.link_1 {
  text-decoration: none;
  color: #2383d1; }
  .link_1:hover {
    text-decoration: underline; }

@media (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column; }
    header nav ul {
      flex-direction: column;
      align-items: center; }
  .galeria {
    display: flex;
    flex-direction: column;
    gap: 5px; }
  .section_1 {
    display: flex;
    flex-direction: column; }
    .section_1 form {
      margin-left: 0; }
    .section_1 .media_c {
      margin-top: -100%; }
  iframe {
    height: 100%;
    width: 100%; } }
