* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

    h1 {
        text-align: center;
        color: rgb(35, 131, 209);
        padding-top: 15px;
    }

    .texto_sub {
        text-decoration: underline;
        text-align: center;
    }

    .texto_sub_2 {
        text-decoration: underline;
        text-align: center;
        margin-top: 25px;
    }

    p {
        text-align: center;
    }
    
}

html, body {
    height: 100%;
    width: 100%;
}

.content {
    max-width: 1600px;
    margin: auto;
}