header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);

    img {
        margin: 15px;
        border-radius: 15%;
    }

    nav ul {
        display: flex;
        list-style: none;

        li {
            padding: 0px 15px;
            transition: .5s;

            &:hover {
                transform: rotate(15deg);
            }
        }

        a {
            text-decoration: none;
            color: rgb(201, 193, 193);

            &:hover {
                color: white;
            }
        }
    }
}


.section_1 {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    justify-content: center;
    align-items: center;

    div {
        flex: 1 1 700px;
        justify-content: center;
        align-items: center;

        
    }

    .lista_beneficios {
        margin-left: 25px;
    }

    p, h3 {
        text-align: center;
    }

    img {
        border-radius: 100%;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 30%;
        
        textarea {
            margin-top: 15px;
            padding: 10px;
            font-family: 'Oswald', sans-serif;
        }

        input {
            padding: 10px;
        }
    }

    
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);
    margin-top: 15px;
    padding: 15px 0;

    h3 {
        color: rgb(201, 193, 193);
        font-size: 16px;
        padding-left: 15px;
    }

    img {
        border-radius: 100%;
        margin: 10px 10px 5px 0;
    }

    a {
        text-decoration: none;
        color: rgb(201, 193, 193);

        &:hover {
            color: white;
        }
    }
}













