header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);

    img {
        margin: 15px;
        border-radius: 15%;
    }

    nav ul {
        display: flex;
        list-style: none;

        li {
            padding: 0px 15px;
        }

        a {
            text-decoration: none;
            color: rgb(201, 193, 193);

            &:hover {
                color: white;
            }
        }
    }
}

section {
    padding: 15px;
    display: flex;
    flex-direction: column;

    div {
        padding: 15px;
        text-align: justify;
    }

    ul {
        padding-left: 20px;
    }
}

.centrado {
    display: grid;
    place-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.sobre_mi li  {
    text-align: center;
    list-style: none;
    margin-top: 25px;
}

.contacto img {
    margin: auto;
    border-radius: 100%;
}

.turnos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    div {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color:rgb(35, 131, 209)
        }
    }
}

.comentarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    form {
        display: flex;
        flex-direction: column;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 131, 209);
    margin-top: 15px;
    padding: 15px 0;

    h3 {
        color: rgb(201, 193, 193);
        font-size: 16px;
        padding-left: 15px;
    }

    img {
        border-radius: 100%;
        margin: 10px 10px 5px 0;
    }

    a {
        text-decoration: none;
        color: rgb(201, 193, 193);

        &:hover {
            color: white;
        }
    }
}













