@media (max-width: 576px) {
    .content {
    display: flex;
    flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;

        nav ul {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    .galeria {
        display: flex;
    }

    .boton {
        left:30%
    }

    section div h3{
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    iframe {
        height: 100%;
        width: 100%;
    }

    .contacto .turnos{
        display: flex;
        flex-direction: column;
    }

    .contacto .comentarios{
        display: flex;
        flex-direction: column;
    } 
}